body{
    background-color: aqua; 
    font-family: Georgia,;
    
}
h1 {
   font-family: "Comic Sans MS";
   font-size: 60 px;
   color: darkblue;
}
h4 {
    text-align: right;
}
p {
    text-align: justify;
}