body {
    
    font-family: Georgia, ;
    background-image: url('background.png');
    background-repeat: repeat-x;

}

h1{
    font-family: "Comic San MS";
    font-size: 60px;
    color: darkblue;
    text-align: center;
}
h4{
    text-align: right;
}
p {
    text-align: center;
}
#adalah{
    color: orange;
}
h3 {
    font-variant: small-caps;
}
#mau{
    text-align: right;
    line-height: 20px;
}
#adalah3{
    color: white;
} 
#adalah3:hover{
    color: red;
    text-decoration: none;
}
#adalah4{
    font-weight: bold;
    text-decoration: none;
}
#adalah4:hover{
    background-color: blue;
    color: white;
}
h3{
    font-variant: small-caps;
}
#mau{
    text-align: right;
    line-height: 25px;
}